In [23]:
import pymysql

In [18]:
conn = conn = pymysql.connect(host='localhost', port=3306, user='root', passwd='Admin@123', db='studentsdb')

In [19]:
cur = conn.cursor()

In [20]:
cur.execute("""CREATE TABLE IF NOT EXISTS Students (
    ID int NOT NULL AUTO_INCREMENT,
    LastName varchar(255) NOT NULL,
    FirstName varchar(255),
    Age int,
    PRIMARY KEY (ID)
);            
            """)

/home/vipin/anaconda3/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1050, "Table 'Students' already exists")
  result = self._query(query)

0

In [29]:
with conn:
#     cur.execute("""INSERT INTO Students 
#                 VALUES(Null,'Maria','Anna',25);
#                 """)
    data = cur.execute("SELECT * FROM Students;")
    data = cur.fetchall()
    for row in data :
        print(row)

(2, 'Maria', 'Anna', 25)

In [22]:
data = cur.execute("SELECT * FROM Students;")

(2, 'Maria', 'Anna', 25)